<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('images/favicon.ico') }}" rel="icon" type="image/jpg" />
    <link rel="stylesheet" href="{{ asset('css/projet4.css') }}">
    <title>Projet4 - {% block title %}{{ status_code }}{% endblock %}</title>

</head>

<body>
<!--  ************************* HEADER *************************************** -->
<header>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Billeterie du Musée du Louvre</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('louvre_booking_homepage') }}">Acceuil</a></li>
                    <li><a href="{{ path('louvre_booking_booking') }}">Billeterie</a></li>
                    <li><a href="#" >Nous contacter</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--  ************************* CORPS DE LA PAGE*************************************** -->
<div class="container-fluid">
    <div class="row">
        <!--  ************************* BLOC GAUCHE *************************************** -->
        <aside class="col-lg-3">
            <h4>Informations Billeterie</h4>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <strong>Le musée propose plusieurs types de tarifs</strong>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Normal</th>
                            <th>Enfant *</th>
                            <th>Senior</th>
                            <th>Reduit **</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Tarif Journée</th>
                            <td>16€</td>
                            <td>8€</td>
                            <td>12€</td>
                            <td>10€</td>
                        </tr>
                        <tr>
                            <th>Tarif Demi-Journée</th>
                            <td>8€</td>
                            <td>4€</td>
                            <td>6€</td>
                            <td>5€</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>
                        <strong>*</strong> L’entrée est gratuite pour les enfants de moins de 4 ans.
                    </p>
                    <p>
                        <strong>**</strong> Accordé dans certaines conditions (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…).
                    </p>
                </div>
                <div class="panel-footer">
                    <h4>Musée du Louvre</h4>
                    <div id="logo">
                        <img  src="{{ asset('images/logo_Louvre.jpg') }}" alt="Logo Louvre">
                        <div>
                            <p>
                            <h5>Coordonnées :</h5>
                            <span>Rue de Rivoli, 75001 Paris</span><br>
                            <span> Téléphone : 01 40 20 50 50</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <!--  ************************* BLOC DROIT *************************************** -->
        <h4>Réservation de billet(s)</h4>
        <section class="well col-lg-9">
            <div class="row">
                <div class="col-xs-5">
                    <img class="img-responsive pull-right" src="{{ asset('images/404.png') }}" alt="Error ghost"/>

                </div>
                <div class="col-xs-6">
                    <h1>Whoops...404...<br><small>Page non trouvée !!</small></h1>
                    <a href="{{ path('louvre_booking_homepage') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-play"></span> Retour à la page d'accueil</button></a>
                </div>
            </div>
        </section>
    </div>

    <!--  ************************* BLOC FOOTER *************************************** -->
    <div class="row navbar-fixed-bottom">
        <footer>
            <p>© 2017<a href="www.arnege.fr"> Réalisation Arnege</a>, All rights reserved 2016-2017.</p>
            <p>Propulsé par Symfony 3.3 / BootStrap / Stripe</p>
        </footer>
    </div>

    <!--  ************************* BLOC JAVASCRIPT *************************************** -->
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>


</body>
</html>
