<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('images/favicon.ico') }}" rel="icon" type="image/jpg" />
    <link rel="stylesheet" href="{{ asset('css/projet4.css') }}">
    <title>Projet4 - {% block title %}{{ status_code }}{% endblock %}</title>

</head>

<body>
<!--  ************************* HEADER *************************************** -->
<header>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('louvre_booking_homepage') }}"><img  src="{{ asset('images/logo_Louvre3.png') }}" alt="Logo Louvre" class=" hidden-xs">Billeterie du Musée du Louvre</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="ar-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('louvre_booking_homepage') }}">Accueil</a></li>
                    <li><a href="{{ path('louvre_booking_booking') }}">Billeterie</a></li>
                    <li><a href="{{ path('louvre_booking_contact') }}">Nous contacter</a></li>
                    <li><a href="{{ path('louvre_booking_mentions') }}">Mentions légales</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--  ************************* CORPS DE LA PAGE*************************************** -->
<div class="container-fluid">
    <div class="row">
        <!--  ************************* BLOC GAUCHE *************************************** -->
        <aside class="col-lg-3 hidden-sm hidden-xs">
            <h4>Informations Billeterie</h4>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <strong>Le musée propose plusieurs types de tarifs</strong>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Normal</th>
                            <th>Enfant *</th>
                            <th>Senior</th>
                            <th>Reduit **</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Tarif Journée</th>
                            <td>16€</td>
                            <td>8€</td>
                            <td>12€</td>
                            <td>10€</td>
                        </tr>
                        <tr>
                            <th>Tarif Demi-Journée</th>
                            <td>8€</td>
                            <td>4€</td>
                            <td>6€</td>
                            <td>5€</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>
                        <strong>*</strong> L’entrée est gratuite pour les enfants de moins de 4 ans.
                    </p>
                    <p>
                        <strong>**</strong>Accordé sous présentation d'une carte de type (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…).
                    </p>
                </div>
                <div class="panel-footer">
                    <h5>Coordonnées :</h5>
                    <span>Rue de Rivoli, 75001 Paris</span><br>
                    <span> Téléphone : 01 40 20 50 50</span>
                </div>
            </div>
            <div class="sensio">
                <img src="https://insight.sensiolabs.com/projects/9fcb35b9-dcf6-4eb3-8e06-27625261c346/small.png" alt="Label SensioLabs">
            </div>
        </aside>
        <!--  ************************* BLOC DROIT *************************************** -->
        <h4>Réservation de billet(s)</h4>
        <section class="well col-lg-9">
            <div class="row">
                <div class="col-xs-5">
                        <img class="img-responsive pull-right" src="{{ asset('images/erreur.jpg') }}" alt="Error 500">
                </div>
                <div class="col-xs-6">
                    <h1>Whoops...500...<br><small>Erreur Interne</small></h1>
                    <a href="{{ path('louvre_booking_homepage') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-play"></span> Retour à la page d'accueil</button></a>
                </div>
            </div>
        </section>
    </div>

    <!--  ************************* BLOC FOOTER *************************************** -->
    <div class="row navbar-fixed-bottom">
        <footer>
            <p>© 2017<a href="www.arnege.fr"> Arnege</a> : Propulsé par Symfony 3.3 / BootStrap / Stripe</p>
        </footer>
    </div>

    <!--  ************************* BLOC JAVASCRIPT *************************************** -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>


</body>
</html>
