<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% block metahttp %}
    {% endblock %}
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {# lien BootStrap avec Theme Cerulean Bootswatch #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    {# Lien vers le CSS de datetimepicker #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">
    {# CDN vers lien font-awesome 4.3.0 #}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    {# FAVICON du SITE PROJET 4#}
    <link href="{{ asset('images/favicon.ico') }}" rel="icon" type="image/jpg" />

    <link rel="stylesheet" href="{{ asset('css/projet4.css') }}">
    <title>Projet4 {% block title %}{% endblock %}</title>

</head>

<body>
<!--  ************************* HEADER *************************************** -->
<header>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Billeterie du Musée du Louvre</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('louvre_booking_homepage') }}">Acceuil</a></li>
                    <li><a href="{{ path('louvre_booking_booking') }}">Billeterie</a></li>
                    <li><a href="#" >Nous contacter</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<!--  ************************* CORPS DE LA PAGE*************************************** -->
<div class="container-fluid">
    <div class="row">
        <!--  ************************* BLOC GAUCHE *************************************** -->
        <aside class="col-lg-3">
            <h4>Informations Billeterie</h4>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <strong>Le musée propose plusieurs types de tarifs</strong>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Normal</th>
                                <th>Enfant *</th>
                                <th>Senior</th>
                                <th>Reduit **</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Tarif Journée</th>
                                <td>16€</td>
                                <td>8€</td>
                                <td>12€</td>
                                <td>10€</td>
                            </tr>
                            <tr>
                                <th>Tarif Demi-Journée</th>
                                <td>8€</td>
                                <td>4€</td>
                                <td>6€</td>
                                <td>5€</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        <strong>*</strong> L’entrée est gratuite pour les enfants de moins de 4 ans.
                    </p>
                    <p>
                        <strong>**</strong> Accordé dans certaines conditions (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…).
                    </p>
                </div>
                <div class="panel-footer">
                    <h4>Musée du Louvre</h4>
                    <div id="logo">
                        <img  src="{{ asset('images/logo_Louvre.jpg') }}" alt="Logo Louvre">
                        <div>
                            <p>
                                <h5>Coordonnées :</h5>
                                <span>Rue de Rivoli, 75001 Paris</span><br>
                                <span> Téléphone : 01 40 20 50 50</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            {#<div class="panel panel-primary">#}
                {#<div class="panel-heading">#}
                    {#<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>#}
                    {#<strong>Informations complementaires</strong>#}
                {#</div>#}
                {#<div class="panel-body">#}
                    {#<ul>#}
                        {#<li><a><i class="material-icons">translate</i>Traduction</a></li>#}
                        {#<li><a><i class="material-icons">grade</i>Favori</a></li>#}
                        {#<li><a><i class="material-icons">question_answer</i>Nous contacter</a></li>#}
                        {#<li><a><i class="material-icons">book</i>Site Institutionnel</a></li>#}
                    {#</ul>#}
                {#</div>#}
                {#<div class="panel-footer">#}
                    {#<a href="#">Lien Eventuel</a>#}
                {#</div>#}
            {#</div>#}
        </aside>
        <!--  ************************* BLOC DROIT *************************************** -->
        <h4>Réservation de billet(s)</h4>
        <section class="well col-lg-9">
                {% block BookingBundle_content %}

                {% endblock %}

        </section>
    </div>

    <!--  ************************* BLOC FOOTER *************************************** -->
    <div class="row navbar-fixed-bottom">
        <footer>
            <p>© 2017<a href="www.arnege.fr"> Réalisation Arnege</a>, All rights reserved 2016-2017.</p>
            <p>Propulsé par Symfony 3.3 / BootStrap / Stripe</p>
        </footer>
    </div>

    <!--  ************************* BLOC JAVASCRIPT *************************************** -->
    <script type="text/javascript" src="{{ asset('js/moment/moment-with-locales.js') }}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/mydatepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/mydetail.js') }}"></script>



</body>
</html>


