{# src/Louvre/BookingBundle/Resources/views/Booking/booking.html.twig #}

{% extends "LouvreBookingBundle:Default:layout.html.twig" %}

{% block title %}
    {{ parent() }} - Booking
{% endblock %}

{% block BookingBundle_content %}
    <h4>Réservation de billet(s)</h4>
    <section class="well col-lg-9">
        {#{{ form(form) }}#}

        {{ form_start(form, {'attr': {
            'class':'form-horizontal '
        }}) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-2">
                {{ form_label(form.dateVisite) }}
                {{ form_errors(form.dateVisite) }}
                {{ form_widget(form.dateVisite) }}
            </div>

            <div class="col-md-2 col-md-offset-1">
                {{ form_label(form.typeReservation) }}
                <label>
                    Demi-Journée <span>(A partir de 14h)</span>
                    {{ form_errors(form.typeReservation) }}
                    {{ form_widget(form.typeReservation) }}
                    Journée
                </label>
            </div>
            <div class="col-md-2 col-md-offset-1">
                {{ form_label(form.nbrePlaces) }}
                {{ form_errors(form.nbrePlaces) }}
                {{ form_widget(form.nbrePlaces) }}
            </div>
            <div class="col-md-2 col-md-offset-1 bg-info">
                Les informations des autres visiteurs vous seront demandés à la prochaine étape.
            </div>
        </div>

        <div class="row">
            <hr>
            <div class="col-md-2">
                {#{{ form_row(form.detailResa) }}#}
                {{ form_label(form.detailResa.nomVisiteur) }}
                {{ form_errors(form.detailResa.nomVisiteur) }}
                {{ form_widget(form.detailResa.nomVisiteur) }}
            </div>
            <div class="col-md-2 col-md-offset-1">
                {#{{ form_row(form.detailResa) }}#}
                {{ form_label(form.detailResa.prenomVisiteur) }}
                {{ form_errors(form.detailResa.prenomVisiteur) }}
                {{ form_widget(form.detailResa.prenomVisiteur) }}
            </div>
            <div class="col-md-2 col-md-offset-1">
                {#{{ form_row(form.detailResa) }}#}
                {{ form_label(form.detailResa.paysVisiteur) }}
                {{ form_errors(form.detailResa.paysVisiteur) }}
                {{ form_widget(form.detailResa.paysVisiteur) }}
            </div>
            <div class="col-md-3">
                {#{{ form_row(form.detailResa) }}#}
                {{ form_label(form.detailResa.dateNaissance) }}
                {{ form_errors(form.detailResa.dateNaissance) }}
                {{ form_widget(form.detailResa.dateNaissance) }}
            </div>
            <div class="col-md-2">
                {#{{ form_row(form.detailResa) }}#}
                {{ form_label(form.detailResa.tarifVisiteur) }}
                {{ form_errors(form.detailResa.tarifVisiteur) }}
                {{ form_widget(form.detailResa.tarifVisiteur) }}
            </div>
            <div class="col-md-3 col-md-offset-1">
                {{ form_label(form.emailClient) }}
                {{ form_errors(form.emailClient) }}
                {{ form_widget(form.emailClient) }}
            </div>
        </div>
        <div class="row">
            <hr>
            {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
            {{ form_widget(form.Valider, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>

        {# Génération automatique des champs pas encore écrits. Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)#}
        {#et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}
        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
</section>

{% endblock %}

