{# src/Louvre/BookingBundle/Resources/views/Booking/booking.html.twig #}

{% extends "LouvreBookingBundle:Default:layout.html.twig" %}

{% block title %}
    {{ parent() }} - Booking
{% endblock %}

{% block BookingBundle_content %}

        {#{{ form(form) }}#}

        {{ form_start(form, {'attr': {
            'class':'form-horizontal'
        }}) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-2">
                {{ form_label(form.dateVisite) }}
                {{ form_errors(form.dateVisite) }}
                {{ form_widget(form.dateVisite) }}
                Nombre de places disponibles pour ce jour : <span class="new badge" data-badge-caption="places" id="nbplace">nbrPlace</span>
            </div>

            <div class="col-md-2 col-md-offset-1">
                {{ form_label(form.typeReservation, 'Demi-Journée à partir de 14h.') }}
                {{ form_errors(form.typeReservation) }}
                {{ form_widget(form.typeReservation) }}
                <span id="infotype"></span>
            </div>
            <div class="col-md-2 col-md-offset-1">
                {{ form_label(form.nbrePlaces) }}
                {{ form_errors(form.nbrePlaces) }}
                {{ form_widget(form.nbrePlaces) }}
            </div>
            <div class="col-md-2 col-md-offset-1">
                {{ form_label(form.emailClient, 'Email du Réservant') }}
                {{ form_errors(form.emailClient) }}
                {{ form_widget(form.emailClient) }}
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="well" id="subfrom">
                {{ form_widget(form.details)}}
            </div>

        </div>
        <hr>
        <div class="row">
            {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
            {{ form_widget(form.Valider, {'attr': {
                'class': 'btn-primary'
            }}) }}
        </div>

        {# Génération automatique des champs pas encore écrits. Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)#}
        {#et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}
        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}

{% endblock %}

