{# src/Louvre/BookingBundle/Resources/views/Booking/booking.html.twig #}

{% extends "LouvreBookingBundle:Default:layout.html.twig" %}

{% block title %}
    {{ parent() }} - Booking
{% endblock %}

{% block BookingBundle_content %}
<h4 id="reserBillet">Réservation de billet(s) <span class="glyphicon glyphicon-info-sign" id="tarif"></span></h4>
<section class="well col-lg-9">
        {#{{ form(form) }}#}

        {{ form_start(form, {'attr': {
            'class':'form-horizontal'
        }}) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-2">
                {{ form_label(form.dateVisite) }}
                {{ form_errors(form.dateVisite) }}
                {{ form_widget(form.dateVisite) }}
            </div>

            <div class="col-md-2 col-md-offset-1">
                {{ form_label(form.typeReservation) }}
                {{ form_errors(form.typeReservation) }}
                {{ form_widget(form.typeReservation) }}
                Demi-Journée à partir de 14h. <span id="infotype"></span>
            </div>
            <div class="col-md-2 col-md-offset-1">
                {{ form_label(form.nbrePlaces) }}
                {{ form_errors(form.nbrePlaces) }}
                {{ form_widget(form.nbrePlaces) }}
                Nombre de places disponibles pour ce jour : <span class="new badge" data-badge-caption="places" id="nbplace"></span>
            </div>
            <div class="col-md-2 col-md-offset-1">
                {{ form_label(form.emailClient, 'Email du Réservant') }}
                {{ form_errors(form.emailClient) }}
                {{ form_widget(form.emailClient) }}
            </div>

        </div>
        <div class="row">
            <div class="well" id="subfrom">
                {{ form_widget(form.details) }}
            </div>

        </div>
        <div class="row">
            {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
            {{ form_widget(form.Valider, {'attr': {
                'class': 'btn-primary'
            }}) }}
        </div>

        {# Génération automatique des champs pas encore écrits. Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)#}
        {#et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}
        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}


    {# Fenetre Modale pour alerter du nombre de place restant #}
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" id="myAlert">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">Informations Billeterie du Louvre</h3>
                </div>
                <div class="modal-body">
                    <h4>Dépassement de capacité d'accueil !</h4>
                    <p>
                        Vous avez sélectionné un nombre de places trop important par rapport à notre capacité maximale d'accueil pour cette date de visite.<br>
                        Merci de bien vouloir :
                    <ul>
                        <li>Soit Sélectionner une date de visite différente</li>
                        <li>Soit Sélectionner un nombre de places inférieur</li>
                    </ul>
                    </p>
                    <p>
                        <strong>Pour rappel : </strong> Place(s) disponible(s) pour votre date : <strong><span id="nbplaceM"></span></strong>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Je Modifie</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    {# Fenetre Modale pour les types de tarifs sur smartphone #}
    <div class="modal fade" tabindex="-2" role="dialog" aria-labelledby="infoTarif" aria-hidden="true" data-backdrop="static" id="myInfo">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="infoTarif">Informations Billeterie du Louvre</h3>
                </div>
                <div class="modal-body">
                    <h4>Tarifications</h4>
                    <table class="table table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Normal</th>
                            <th>Enfant *</th>
                            <th>Senior</th>
                            <th>Reduit **</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Tarif Journée</th>
                            <td>16€</td>
                            <td>8€</td>
                            <td>12€</td>
                            <td>10€</td>
                        </tr>
                        <tr>
                            <th>Tarif Demi-Journée</th>
                            <td>8€</td>
                            <td>4€</td>
                            <td>6€</td>
                            <td>5€</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>
                        <strong>*</strong> L’entrée est gratuite pour les enfants de moins de 4 ans.
                    </p>
                    <p>
                        <strong>**</strong> Accordé sous présentation d'une carte de type (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…).
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Retour</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</section>


{% endblock %}

