{% extends "LouvreBookingBundle:Default:layout.html.twig" %}

{% block title %}
    {{ parent() }} - Recapitulatif
{% endblock %}

{% block BookingBundle_content %}
    <div id="row">
        <div class="col-lg-12">
            <h4>Récapitulatif de votre commande</h4>
            <ul>
                <li><strong>Code Réservertion :</strong> {{ ordres.codeReservation }}</li>
                <li><strong>Email Client :</strong> {{ ordres.emailClient }}</li>
                <li><strong>Date de Réservation :</strong> {{ ordres.dateReservation | date('d/m/Y') }}</li>
                <li><strong>Nombre de place(s) :</strong> {{ ordres.nbrePlaces }}</li>
                <li><strong>Date de votre visite :</strong> {{ ordres.dateVisite | date('d/m/Y') }}</li>
                <li><strong>Montant de votre commande :</strong> {{ ordres.montantReservation }}</li>
            </ul>
        </div>
        <div class="col-lg-6 col-lg-offset-1">
            <h4>Informations Visiteurs :</h4>
            <ul>
                {% for detail in details %}
                    <li><strong>Nom :</strong> {{ detail.nomVisiteur }}</li>
                    <li><strong>Prénom :</strong> {{ detail.prenomVisiteur}}</li>
                    <li><strong>Pays :</strong> {{ pays.nomFrFR }}</li>
                    <li><strong>Date de Naissance :</strong> {{ detail.dateNaissance | date('d/m/y') }}</li>
                    <li><strong>Tarif d'entrée :</strong> {{ detail.tarifVisiteur}} €</li>
                {% endfor %}
            </ul>
        </div>
    </div>

        <div id="status">
            <p>
                Vous êtes sur le point de payer votre réservation :
                {#<form action="{{ path('louvre_booking_checkout') }}" method="POST" id="payment_form">#}
                {#<script#}
                {#src="https://checkout.stripe.com/checkout.js" class="stripe-button"#}
                {#data-key="pk_test_injXYI2W2kNR1CfNgdXx35Si"#}
                {#data-amount="99500"#}
                {#data-name="Réservation en ligne"#}
                {#data-description=" Musée du Louvre"#}
                {#data-locale="auto"#}
                {#data-currency="eur">#}
                {#</script>#}
                {#</form>#}
            </p>
        </div>

{% endblock %}


{% block javascript %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

{% endblock %}