{% extends "LouvreBookingBundle:Default:layout.html.twig" %}

{% block title %}
    {{ parent() }} - Order
{% endblock %}

{% block BookingBundle_content %}
<h4 id="reserBillet">Réservation de billet(s) <span class="glyphicon glyphicon-info-sign" id="tarif"></span></h4>
<section class="well col-lg-9">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-1">
                <h4>Récapitulatif de votre commande</h4>
                <ul>
                    <li><strong>Code Réservertion :</strong> {{ ordres.codeReservation }}</li>
                    <li><strong>Email Client :</strong> {{ ordres.emailClient }}</li>
                    <li><strong>Date de Réservation :</strong> {{ ordres.dateReservation | date('d/m/Y') }}</li>
                    <li><strong>Type Réservation :</strong>
                            {% if ordres.typeReservation == 0 %}
                                Dem-Journée
                            {% else %}
                                Journée
                            {% endif %}
                    </li>
                    <li><strong>Nombre de place(s) :</strong> {{ ordres.nbrePlaces }}</li>
                    <li><strong>Date de votre visite :</strong> {{ ordres.dateVisite | date('d/m/Y') }}</li>
                </ul>
            </div>
            <div class="col-lg-6 col-lg-offset-1">
                <h4>Informations des autres visiteurs :</h4>
                <table class="table table-bordered table-responsive">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Pays</th>
                        <th>Date de Naissance</th>
                        <th>Tarif Réduit</th>
                        <th>Prix d'entrée</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for detail in details %}
                        <tr>
                            <th>Visiteur n° {{ loop.index }}</th>
                            <td>{{ detail.nomVisiteur }}</td>
                            <td>{{ detail.prenomVisiteur}}</td>
                            <td>{{ detail.paysVisiteur }}</td>
                            <td>{{ detail.dateNaissance | date('d/m/Y') }}</td>
                            <td>
                                {% if detail.tarifReduit == 0 %}
                                    Non
                                {% else %}
                                    Oui
                                {% endif %}
                            </td>
                            <td>{{ detail.tarifVisiteur }}€</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-lg-3 col-lg-offset-1">
                    <h4><strong>Montant de votre commande : {{ ordres.montantReservation }}€</strong></h4>
            </div>
            <div class="col-lg-4">
                <form action="{{ path('louvre_booking_checkout') }}" method="POST">
                    <div class="field">
                        <input type="text" name="montant" value="{{ ordres.montantReservation }}" style="display: none">
                        <input type="text" name="idRes" value="{{ ordres.id}}" style="display: none">
                    </div>
                    <script
                            src="https://checkout.stripe.com/checkout.js"
                            class="stripe-button"
                            data-key="pk_test_injXYI2W2kNR1CfNgdXx35Si"
                            data-amount="{{ ordres.montantReservation * 100 }}"
                            data-name="Module de Paiement"
                            data-description="Billeterie du Louvre P4"
                            data-locale="auto"
                            data-currency="eur">
                    </script>
                </form>

            </div>
        </div>
</section>
{% endblock %}
